<%= form_for @changeset, Routes.items_path(@conn, :create), fn f -> %>
  <label>
    Name: <%= text_input f, :name %>
  </label>

  <label>
    Inventory: <%= text_input f, :inventory %>
  </label>

   <label>
    Brand: <%= select f, :brand_id, @brand_options %>
  </label>

  <label>
    Cost: <%= text_input f, :cost %>
  </label>

  <%= submit "Submit" %>
<% end %>